<template name="home">
  {{#if currentUser}}
  <div class="container">
    <div class="row">
      <div class="col s3">
        <ul class="collection with-header">
          <li class="collection-header center">
            <h4>Friends</h4>
          </li>
          {{#if friends}} {{#each friends}}
          <li class="collection-item">
            <div class="center">
              <a href="/profile/">{{username}}</a>
              <a class="secondary-content message-friend">
                <i class="material-icons">chat_bubble_outline</i>
              </a>
            </div>
          </li>
          {{/each}} {{/if}}
        </ul>
      </div>

      <div class="col s8 offset-s1">
        <div class="row">
          <div class="card-panel">
            <h3 class="public-header">Public Posts</h3>
          </div>
        </div>
        <div class="row">
          <ul>
            {{#each postList}}
            <li>{{author}}: {{{parseMessage chat}}} // Time: {{createdAt}}
            </li>
            {{/each}}
          </ul>
        </div>
        <div class="row">
          <form class="col s12 message-form">
            <div class="row">
              <input id="icon_prefix2" type="text" name="chat" placeholder="Start typing to talk in chat!" class="blue-text text-darken-2">
            </div>
            <div class="row submit-button">
              <input type="submit" class="waves-effect waves-light btn">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="container">
    <div class="section">
      <div class="card-panel">
        <h3>Please create an account and log in to be in the chat room.</h3>
      </div>
    </div>
  </div>
  {{/if}}
</template>